---
import { getTranslation } from '../i18n/useTranslation';

interface Props {
  title: string;
  lang: string;
}
const { title, lang } = Astro.props;
const t = await getTranslation(lang);
---

<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={t.meta.description} />
    <meta name="keywords" content={t.meta.keywords}>
      <meta property="og:title" content={t.title}>
      <meta property="og:description" content={t.meta.description}>
      <meta property="og:type" content="website">
      <meta property="og:url" content={Astro.url.href}>
      <meta property="og:image" content="/path/to/image.jpg">
      <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Organization",
          "name": "MV_KFZ Autoschlüssel",
          "url": "https://example.com",
          "logo": "https://example.com/logo.jpg",
          "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "+4915126135181",
            "contactType": "Kundendienst",
            "availableLanguage": ["Deutsch", "Englisch", "Ukrainisch", "Russisch"]
          },
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "Marktplatz",
            "addressLocality": "Baunach",
            "postalCode": "96148",
            "addressCountry": "DE"
}
        }
      </script>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>
  <body>
    <div class="wrapper">
      <slot />
    </div>
  </body>
</html>

<script is:inline define:vars={{ lang }}>
  window.translations = window.translations || {};
  window.currentLang = lang;
  
  if (!window.openOrderModal) {
    window.openOrderModal = function() {};
  }
  
  if (!window.openSuccessModal) {
    window.openSuccessModal = function() {};
  }
</script>

<style>
  .wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
</style>
